*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/.setting
/build
.project
.classpath
/src/configuration.properties
/.tern-project
.idea
.openshift
.settings/
Richkware-Manager-Server.iml
lib/
out/
docker-dir/
src/test/
target/Richkware-Manager-Server-1.0-SNAPSHOT.jar
target/classes/configuration.properties
target/generated-sources/
target/maven-archiver/
target/maven-status/
META-INF
/MOUNT2SERVER.sh
